[project]
	description = Convert Imdb Search/Chart to Trakt List in Java8
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mohamed MOUNIROU (mmounirou)
[access "refs/for/refs/*"]
	read = group user/Mohamed MOUNIROU (mmounirou)
	push = group user/Mohamed MOUNIROU (mmounirou)
	label-Code-Review = -2..+2 group user/Mohamed MOUNIROU (mmounirou)
	label-Verified = -1..+1 group user/Mohamed MOUNIROU (mmounirou)
	rebase = group user/Mohamed MOUNIROU (mmounirou)
	removeReviewer = group user/Mohamed MOUNIROU (mmounirou)
	submit = group user/Mohamed MOUNIROU (mmounirou)
[access "refs/heads/*"]
	read = group user/Mohamed MOUNIROU (mmounirou)
	create = group user/Mohamed MOUNIROU (mmounirou)
	push = +force group user/Mohamed MOUNIROU (mmounirou)
	pushMerge = group user/Mohamed MOUNIROU (mmounirou)
[access "refs/tags/*"]
	push = +force group user/Mohamed MOUNIROU (mmounirou)
	pushTag = group user/Mohamed MOUNIROU (mmounirou)
	pushSignedTag = group user/Mohamed MOUNIROU (mmounirou)
